.cover {
  margin: 0 3.75%;
  width: 1184px;
  width: 100%;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.cover::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../images/cover__background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.cover:hover:before {
  color: #2a2c2f;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 0 82px 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    min-height: 254px;
margin: 0;
}
}
