.cover {
  margin: 0 3.75%;
  display: grid;
}

.cover:hover .cover__background-image {
  color: #2a2c2f;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

@media screen and (max-width: 320px) {
  .cover__visit-us__title {
    font-size: 32px;
    line-height: 1.09375;
  }

  .cover__visit-us__address {
    margin: 16px 0;
    font-size: 14px;
    line-height: 1.143;
  }
}

.cover__background-image {
  width: 100%;
  object-fit: contain;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .cover {
    height: 254px;
  }
  .cover__background-image {
    width: 100vw;
    height: 254px;
    object-fit: none;
  }
}
