.intro {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 76.875vw;
  object-fit: contain;
  margin-top: 92px;
  color: #ffffff;
}

.intro__title {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  text-align: left;
  width: 61.3vw;
}

.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: left;
  width: 53.9vw;
}

.intro__quote-author {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
  width: 53.9vw;
}

.intro__description {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.63;
  text-align: left;
  width: 53.9vw;
}

@media screen and (max-width: 1280px) {
  .intro {
    width: 93.75vw;
  }
  .intro__title {
    width: 93.75vw;
    font-size: calc(28px + 28 * ((100vw - 321px) / 680));

  }
  .intro__quote {
    width: 93.75vw;
  }

  .intro__quote-author {
    width: 93.75vw;
  }

  .intro__description {
    width: 93.75vw;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 40px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09375;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 40px;
  }

  .intro__quote-author {
    font-size: 24px;
    line-height: 1.4;
  }

  .intro__description {
    font-size: 16px;
    line-height: 1.63;
  }
}
