.intro {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 76.875vw;
  object-fit: contain;
  margin-top: 92px;
  color: #ffffff;
  max-width: 984px;
}

.intro__title {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  text-align: left;
  width: 61.33vw;
  max-width: 785px;
}

.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: left;
  width: 61.33vw;
  max-width: 690px;
}

.intro__quote-author {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
  width: 61.33vw;
  max-width: 690px;
}

.intro__description {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.63;
  text-align: left;
  width: 61.33vw;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75vw;
  }
  .intro__title {
    width: 93.75vw;
    font-size: 54px;
  }
  .intro__quote {
    width: 93.75vw;
  }

  .intro__quote-author {
    width: 93.75vw;
  }

  .intro__description {
    width: 93.75vw;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    margin-top: 40px;
    width: 90vw;
    max-width: 600px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09375;
    width: 90vw;
  max-width: 600px;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 40px;
    width: 90vw;
  }

  .intro__quote-author {
    font-size: 24px;
    line-height: 1.4;
    width: 90vw;
  }

  .intro__description {
    font-size: 16px;
    line-height: 1.63;
    width: 90vw;
  }
}
