.lead {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
  width: 76.875vw;
  object-fit: contain;
}

.lead__title {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  width: 61.95vw;
  object-fit: contain;
  max-width: 793px;
}

.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  width: 56.25vw;
  object-fit: contain;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  max-width: 720px;
}

.lead__image {
  width: 100%;
  object-fit: contain;
  margin-top: 64px;
  max-width: 984px;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin-top: 88px;
  }

  .lead__title {
    font-size: 96px;
    width: 93.75vw;
    max-width: 720px;
  }

  .lead__subtitle {
    font-size: 30px;
    width: 93.75vw;
  }

  .lead__image {
    width: 100%;
    max-width: 1280px;
    margin-top: 36px;

  }
}

@media screen and (max-width: 660px) {
  .lead {
    margin-top: 50.54px;
    max-width: 660px;
    width: 100vw;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: 90vw;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
    width: 90vw;
    max-width: 288px;
  }

  .lead__image {
    margin-top: 40px;
    width: 100vw;
    max-width: 660px;
  }
}
