.photo-grid {
  display: flex;
  justify-content: center;
  margin: 0 3.75%;
  width: 100%;
  margin-bottom: 92px;
  margin-top: 118px;
  max-width: 1184px;
}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 0;

}

.photo-grid__item {
  width: calc((92.5vw - 48px) / 4);
  object-fit: contain;
  max-width: 284px;
}

@media screen and (max-width: 1280px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-grid__item {
    width: calc((92.5vw - 48px) / 2);
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin-bottom: 90px;
  }

  .photo-grid__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-grid__item {
    width: calc(90vw);
  }
}
