.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.052fr;
  grid-column-gap: 3.125vw;
  grid-row-gap: 48px;
  margin-bottom: 80px;
  width: 76.875vw;
}

.place__title {
  font-family: "Inter-Black", Arial, sans-serif;
  margin: 0;
  color: #ffffff;
  font-size: 72px;
  line-height: 1.055;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__artist {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__artist-header {
  font-family: "Inter-Regular", Arial, sans-serif;
  margin: 0;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 1.21;
}

.place__artist-name {
  font-family: "Inter-Regular", Arial, sans-serif;
  margin: 0;
  margin-top: 8px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.22;
}

.place__image {
  width: 35.94vw;
  height: auto;
  grid-column: 1;
  grid-row: 2;
}

.place__buy-button {
  font-family: "Inter-SemiBold", Arial, sans-serif;
  width: 248px;
  height: 48px;
  background-color: #0278fe;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.21;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.place__buy-button:hover {
  cursor: pointer;
  background-color: #0063d2;
  transition: background-color 0.1s ease-in;
}

.place__paragraphs {
  font-family: "Inter-Regular", Arial, sans-serif;
  grid-column: 2;
  grid-row: span 2;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.63;
  margin-bottom: 25px;
}

.place__paragraph {
  margin: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0 3.125vw;
    width: 93.75vw;
    grid-column-gap: 3.646vw;
    margin-bottom: 88px;
  }

  .place__title {
    font-family: "Inter-Black", Arial, sans-serif;
    font-size: 42px;
    line-height: 1.095;
  }

  .place__paragraphs {
    font-family: "Inter-Regular", Arial, sans-serif;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.63;
    margin-bottom: 25px;
  }

  .place__image {
    grid-column: 1;
    grid-row: 2;
    width: 44.27vw;
    object-fit: contain;
    margin-bottom: 48px;
  }

  .place__a-buy-button {
    text-align: center;
  }

  .place__buy-button {
    grid-column: 1;
    grid-row: 3;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .place__title {
    margin: 0 5vw;
    font-size: 32px;
    line-height: 1.09375;
  }

  .place__artist-header {
    margin: 0 5vw;
    font-size: 12px;
    line-height: 1;
  }

  .place__artist-name {
    margin: 12px 5vw 0 5vw;
    font-size: 18px;
    line-height: 1.22;
  }

  .place__image {
    width: 100vw;
    object-fit: contain;
    margin-bottom: 32px;
  }

  .place__paragraphs {
    font-family: "Inter-Regular", Arial, sans-serif;
    margin: 0 5vw;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 25px;
  }

  .place__paragraph {
    margin: 0;
  }

  .place__a-buy-button {
    text-align: center;
  }

  .place__buy-button {
    width: 90vw;
    height: 48px;
    margin-bottom: 48px;
  }
}
