.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.052fr;
  grid-column-gap: 3.125vw;
  grid-row-gap: 48px;
  margin-bottom: 80px;
}

.place__title {
  margin: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__artist {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__artist-header {
  margin: 0;
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.place__artist-name {
  margin: 0;
  margin-top: 8px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__image {
  width: 35.94vw;
  height: auto;
  margin-bottom: 48px;
}

.place__buy-button {
  width: 248px;
  height: 48px;
  background-color: #0278fe;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  grid-column: 1;
}

.place__paragraphs {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin-bottom: 25px;
}

.place__paragraph-1 {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin-bottom: 25px;
}

.place__paragraph-2 {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin-bottom: 25px;
}

.place__paragraph-3 {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0 3.125vw;
    width: 93.75vw;
    grid-column-gap: 3.646vw;
    margin-bottom: 88px;
  }

  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  /* .place__artist {
  }

  .place__artist-header {
  }

  .place__artist-name {
  } */

  .place__paragraphs {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin-bottom: 25px;
  }

  .place__image {
    width: 44.27vw;
    object-fit: contain;
    margin-bottom: 48px;
  }

  .place__buy-button {
  }
}
@media screen and (max-width: 320px) {
  .place {
    margin: 0 3.125vw;
    width: 93.75vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 88px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
  }

  .place__artist {
  }

  .place__artist-header {
    font-size: 12px;
    line-height: 12px;
  }

  .place__artist-name {
    font-size: 18px;
    line-height: 22px;
    margin-top: 12px;
  }

  .place__image {
    width: 100vw;
    object-fit: contain;
    margin-bottom: 32px;
  }

  .place__paragraphs {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    margin-bottom: 25px;
  }

  .place__buy-button {
    width: 288px;
    height: 48px;
  }
}
