.visit-us {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}



.visit-us__title {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  color: #fffdfd;
  font-size: 72px;
  line-height: 1.055;
}

.visit-us__addresses {
  font-family: "Inter", Arial, sans-serif;
  margin: 32px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit-us__address {
  margin: 0;
}

.visit-us__button {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  width: 137px;
  height: 48px;
  color: #ffffff;
  background-color: #0278fe;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.21;
  border: none;
  border-radius: 3px;
  z-index: 4;
}

.visit-us__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .visit-us__addresses {
    margin: 16px 0;
  }

  .visit-us__title {
    margin: 0;
    font-size: 32px;
    line-height: 1.09375;
  }

  .visit-us__address {
    margin: 0;
    font-size: 14px;
    line-height: 1.143;
  }
}
